@import url('https://code.getmdl.io/1.3.0/material.indigo-pink.min.css');

.login-container{
    min-height: 100vh;
    display: flex;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 80vh;
    margin: auto;
    padding: 2em;
    color: black !important;
    background-color: #ffffff;
    border-radius: 1em;
    box-shadow: 5px 5px 21px 0px rgba(0, 0, 0, 0.75);
}

.form-login__input{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-login__input input{
    width: 20em;
}

.form-login__input label{
    color: rgb(48, 45, 45);
}

.register-btn{
    font-weight: bold;
}
