<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Proyectos</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child">
        <img src="./assets/images/proyectos/cocinando-facil.svg" alt="Cocinando fácil, web de recetas">
        <div class="descripcion-puesto">
            <h3><a href="https://fedekrenn.github.io/proyectoJS/" target="_blank">Cocinando Fácil | Web para
                    gestión de recetas y obtener ideas</a></h3>
            <p>Proyecto final de cursada Javascript en Coderhouse. El mismo es un simulador de cocina que
                permite cargar recetas, compararlas, filtrar por comidas rápidas y aquellas que son aptas para
                veganos. Además cuenta con conexión a una API que permite ingresar un ingrediente y la web
                automáticamente te devuelve recetas que podés cocinar con dicho ingrediente. Como añadido tiene
                función modo oscuro. Las recetas guardadas son almacenadas en el localStorage para tenerlas
                disponibles en una próxima sesión de navegación. Tecnologías utilizadas: Html, Css, Javascript.
            </p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
    <div class="contenedor__child">
        <img src="./assets/images/proyectos/sereno-bienestar.png" alt="Sereno Bienestar logo">
        <div class="descripcion-puesto">
            <h3><a href="https://fedekrenn.github.io/serenoBienestar/" target="_blank">Sereno Bienestar | Un
                    lugar para encontrarte contigo mismo</a></h3>
            <p>Proyecto final de cursada de Desarrollo Web en Coderhouse. Es una web de 5 páginas maquetada con
                flexbox en mayor medida y grid. Además se usa framework de bootstrap e incluye el pre-procesador
                de Sass. Cuenta con librería de animaciones y está optimizada para SEO y a la vez es responsive,
                se puede visualizar cómodamente el contenido tanto en mobile, tablets o desktop.</p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>