<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Proyectos</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child" *ngFor="let proyecto of miPortfolio">
        <img [src]="proyecto.img" [alt]="proyecto.name">
        <div class="descripcion-puesto">
            <h3><a [href]="proyecto.url" target="_blank">{{proyecto.name}}</a></h3>
            <p>{{proyecto.description}}</p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>