.form-container{
    display: flex;
    flex-direction: column;
    min-height: 200px;

}

h2{
    text-align: center;
}

label{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

input, textarea{
    border-radius: 5px;
    margin: 2px 0;
}

textarea{
    height: 100px;
}

.form-container__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: 1px solid #a52a2a;
}

.send-button{
    background-color: #a52a2a;
    color: white;

}