<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Educación</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child" *ngFor="let educacion of miPortfolio">
        <img [src]="educacion.img" [alt]="educacion.establishment">
        <div class="descripcion-puesto">
            <h3>{{educacion.title}}</h3>
            <h4>{{educacion.establishment}} - {{educacion.year}}</h4>
            <p>{{educacion.description}}</p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
    
</section>