header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../../../assets/images/header-background.jpg);
    background-size: cover;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: brown;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  
  ul li {
    list-style-type: none;
    margin: 10px;
    transition: .4s;
  }
  
  ul li:hover{
    transform: scale(1.2);
  }
  
  .welcome {
    width: 40%;
    text-align: center;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
  }
  
  i.icono-logueo {
    font-size: 2em;
    margin: 0 10px;
  }