<header id="welcome-section">
    <nav id="navbar">
        <app-logo-ap></app-logo-ap>
        <ul>
            <li><a href="https://api.whatsapp.com/send?phone=+54{{persona.telPersona}}&text=%C2%A1Hola%20Federico!%20Me%20gustar%C3%ADa%20ponerme%20en%20contacto%20para%20conocer%20m%C3%A1s%20sobre%20tu%20trabajo"
                    target="_blank"><i class="fa-brands fa-whatsapp"></i><span> Whatsapp</span></a></li>
            <li><a href="mailto:{{persona.emailPersona}}" target="_blank"><i class="fa-solid fa-envelope"></i>
                    <span> Email</span></a></li>
            <li><a href="{{persona.githubPersona}}" id="profile-link" target="_blank"><i
                        class="fa-brands fa-github"></i><span> Github</span></a></li>
            <li><a href="{{persona.linkedinPersona}}" target="_blank"><i class="fa-brands fa-linkedin"></i>
                    <span> Linkedin</span></a></li>
            <li *ngIf="!isLogged"><a href="/loguin"><i class="fa-solid fa-circle-user icono-logueo"></i></a></li>
            <li *ngIf="isLogged"><i class="fa-solid fa-arrow-right-from-bracket icono-logueo" (click)="onLogout()"></i>
            </li>
        </ul>

    </nav>
    <div class="welcome">
        <h1>{{persona.nombrePersona}}</h1>
        <h2>{{persona.puestoPersona}}</h2>
    </div>
</header>
