<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Experiencia</h2>
        <i class="fa-solid fa-plus" mat-button (click)="openDialogNew()" *ngIf="isLogged"></i>
    </div>
    <div class="contenedor__child" *ngFor="let experiencia of experiencias">
        <img [src]="experiencia.imgExp" [alt]="experiencia.nombreExperiencia">
        <div class="descripcion-puesto">
            <h3>{{experiencia.nombreExperiencia}}</h3>
            <h4 class="descripcion-puesto__info">{{experiencia.compania}}</h4>
            <h5 class="descripcion-puesto__info">{{experiencia.startExp}} - {{experiencia.endExp}}</h5>
            <p>{{experiencia.descripcionExperiencia}}</p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen" *ngIf="isLogged" (click)="openDialogEdit(experiencia.id)"></i>
            <i class="fa-solid fa-trash" *ngIf="isLogged" (click)="delete(experiencia.id)"></i>
        </div>
    </div>
</section>