<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Experiencia</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child" *ngFor="let experiencia of miPortfolio">
        <img [src]="experiencia.img" [alt]="experiencia.company">
        <div class="descripcion-puesto">
            <h3>{{experiencia.position}}</h3>
            <h4 class="descripcion-puesto__info">{{experiencia.company}}</h4>
            <h5 class="descripcion-puesto__info">{{experiencia.start}} - {{experiencia.end}}</h5>
            <p>{{experiencia.description}}</p>
        </div>
        <div class="iconos-edicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>