<form novalidate #f="ngForm">
    <h2 mat-dialog-title>Cargar nuevo proyecto</h2>
    <div class="form-container">

        <label for="nombreProyecto">Nombre del proyecto
            <input type="text" id="nombreProyecto" name="nombreProyecto" placeholder="Ej: Calculadora básica"
                [(ngModel)]="nombreProyecto" required />
        </label>
        <label for="urlRepo">URL del repositorio
            <input type="url" id="urlRepo" name="urlRepo" placeholder="Carga la URL"
                [(ngModel)]="urlRepo" required />
        </label>
        <label for="urlDeploy">URL del deploy
            <input type="url" id="urlDeploy" name="urlDeploy" placeholder="Carga la URL"
                [(ngModel)]="urlDeploy" required />
        </label>
        <label for="imgProyecto">Imagen
            <input type="url" id="imgProyecto" name="imgProyecto" placeholder="Carga la URL"
                [(ngModel)]="imgProyecto" required />
        </label>
        <label for="descripcionProyecto">Descripción del proyecto
            <textarea id="descripcionProyecto" name="descripcionProyecto"
                placeholder="Ej: Desarrollé con JS Vanilla una calculadora..." maxlength="1000" [(ngModel)]="descripcionProyecto"
                required></textarea>
        </label>

    </div>
    <div mat-dialog-actions class="form-container__btn">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial class="send-button" (click)="onCreate()">Enviar</button>
    </div>
</form>