<form novalidate #f="ngForm">
    <h2 mat-dialog-title>Cargar nuevo soft/hard Skill</h2>
    <div class="form-container">

        <label for="nombreSkill">Nombre de la habilidad
            <input type="text" id="nombreSkill" name="nombreSkill" placeholder="Ej: Negociación"
                [(ngModel)]="nombreSkill" required />
        </label>
        <label for="porcentajeSkill">Nivel de habilidad

            <mat-slider thumbLabel [displayWith]="formatLabel" step="5" min="0" max="100" aria-label="units"
                id="porcentajeSkill" name="porcentajeSkill" step="5" [(ngModel)]="porcentajeSkill" required>
            </mat-slider>

        </label>
        <label for="colorSkill" class="color-skills">Aplica un color a la habilidad
            <input type="color" id="colorSkill" name="colorSkill" [(ngModel)]="colorSkill" required />
        </label>

    </div>
    <div mat-dialog-actions class="form-container__btn">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial class="send-button" (click)="onCreate()">Enviar</button>
    </div>
</form>