@import url(../experiencia/experiencia.component.css);

/* Skills */

circle-progress{
  display: flex;
  justify-content: center
}

.skills {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nuevo-hs {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 40px;
}
