<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Hard y soft skills</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="skills">
        <div class="iconos-edicion">
            <h3>Html</h3>
            <div>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="container">
            <div class="skills__child html">90%</div>
        </div>
        <div class="iconos-edicion">
            <h3>Css</h3>
            <div>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="container">
            <div class="skills__child css">80%</div>
        </div>
        <div class="iconos-edicion">
            <h3>Javascript</h3>
            <div>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="container">
            <div class="skills__child js">50%</div>
        </div>
    </div>
</section>