<section class="contenedor">
    <div class="contenedor__barra-titulo">
        <h2>Hard y soft skills</h2>
        <i class="fa-solid fa-plus" mat-button (click)="openDialogNew()" *ngIf="isLogged"></i>
    </div>
    <div class="skills">
        <div class="nuevo-hs" *ngFor="let skill of skills">
            <div class="iconos-edicion">
                <h3>{{skill.nombreSkill}}</h3>
                <div>
                    <i class="fa-solid fa-pen" *ngIf="isLogged" (click)="openDialogEdit(skill.id)"></i>
                    <i class="fa-solid fa-trash" *ngIf="isLogged" (click)="delete(skill.id)"></i>
                </div>
            </div>
            <circle-progress
                [percent]="skill.porcentajeSkill" 
                [radius]="100" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="skill.colorSkill" 
                [innerStrokeColor]="'false'" 
                [showSubtitle]="false"
                [titleFontSize]="'40'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>
    </div>
</section>