<section class="informacion">
    <div class="descripcion">
        <img src="./assets/images/fotoLinkedin.jpg" alt="Federico Krenn, Fullstack developer"
            class="foto-perfil">
        <div class="descripcion__info">
            <h2>{{title}}</h2>
            <h3>Fullstack Developer Jr.</h3>
            <h3 class="location">Córdoba, Argentina</h3>
        </div>
    </div>
    <div class="about-me">
        <div class="about-me__child">
            <h3>Sobre mí</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam dignissimos sit eius
                voluptatum assumenda suscipit qui vel laudantium, obcaecati quia ipsum esse excepturi rem sequi
                veniam alias molestiae fuga, hic eum quis soluta eligendi similique in. Eveniet itaque, magnam
                deleniti dolor fugiat maxime, earum voluptates ex harum inventore quibusdam! Consectetur porro
                commodi ea culpa perferendis nemo sunt dolore placeat, nihil officia numquam sequi veniam
                expedita.</p>
        </div>
        <i class="fa-solid fa-pen"></i>
    </div>
</section>
